# http listen host.
ListenHost = 127.0.0.1
# http listen port.
ListenPort = 9902

DbUser = songs
DbPass = songs
DbName = songs
DbHost = localhost
DbPort = 5432

# http URI request path.
# for example, if we are running from a URI like this:
# http://www.summercat.com/gorse
# then the prefix we should set here is '/gorse'.
# we need this so we can strip prefixes and recognise path patterns.
UriPrefix = /song_tracker2
